#notify {
    background-color: var(--primary-color);
    color: white;
    font-family: 'Satoshi-Regular';
    font-size: 0.875rem;
    text-align: center;
    padding: 8px 0 10px 0;

}

#notify a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

#notify p {
    width: 100%;
    margin-left: 20px;
}

#notify img {
    display: none;
    height: 20px;
}

#notify .notify-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}




header {
    background-color: var(--background-body);
}

header .appbar-container {
    height: 65px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 21px;


}

/* Ícone de Menu (Hambúrguer) */
.logo-burguer {
    display: flex;

}

.menu-icon {
    margin-right: 16px;
    display: block;
}

.logo {
    height: fit-content;
}

.desktop-menu {
    display: none;
    /* Escondido por padrão */
}

.desktop-menu ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
}

.search-container {
    display: none;
    /* Escondido por padrão */
}

.desktop-menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-group {
    display: flex;



}

.icon-group svg {
    margin: auto 0 auto 12px;
    transition: fill 0.3s ease;
    height: 24px;

}

.icon-group svg path {
    fill: black;
    fill-opacity: 1;
}

/* Media Queries para Desktop */
@media (min-width: 769px) {
    header .appbar-container {
        height: 96px;
        align-items: center;
    }

    .menu-icon {
        display: none;
        /* Esconde o ícone de menu em telas maiores */
    }

    .desktop-menu {
        display: flex;

        margin-left: 32px;
    }

    .search-container {
        position: relative;
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        margin: 0 20px;
    }

    .search-input {
        width: 100%;
        max-width: 600px;
        height: 48px;
        padding: 10px 20px;
        padding-left: 52px;
        /* Make space for the icon */
        border-radius: 24px;
        border: none;
        background-color: var(--card-background-image);
        font-size: 16px;
        color: var(--primary-color);
    }

    /* Positioning the search icon inside the input */
    .search-icon {
        top: 50%;
        left: 16px;
        transform: translateY(-45%);
        /* transform: translate(-50%, -50%); */
        position: absolute;
        pointer-events: none;
        opacity: 0.4;

    }

    .icon-group .ic-search {
        display: none;

    }


    #notify img {
        display: block;

    }
}