#feedback {
    padding-top: 50px;
    position: relative;
    -webkit-touch-callout: none;
    /* iPhone OS, Safari */
    -webkit-user-select: none;
    /* Chrome, Safari 3 */
    -khtml-user-select: none;
    /* Safari 2 */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    user-select: none;
}

.feedback-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    margin-bottom: 24px;
}

.feedback-header h3 {
    text-align: left;

}

.icon-controller {
    display: flex;
    gap: 16px;
    align-items: center;
    align-self: flex-end;
}

.feedback-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    gap: 20px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}


.feedback-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    min-width: 358px;
    width: 400px;
    border: 1px solid var(--primary-color-100);
    border-radius: 20px;
}

.feedback-card h4 {
    font-size: 1rem;
    font-family: 'Satoshi-Bold';
    margin-top: 4px;
}

.feedback-card p {
    font-size: 0.875rem;
    font-family: 'Satoshi-Regular';
    opacity: 0.6;

}



@media (min-width: 1024px) {
    .blur-row {
        position: absolute;
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        height: 100%;
        width: 100%;
    }

    .blur-row .cw {
        min-width: 100%;

    }

    .blur-row .blur {
        width: 100%;
        height: 100%;
        z-index: 1;
        /* backdrop-filter: blur(3px); */
    }

    .blur-left {
        left: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
        backdrop-filter: blur(2px);
    }

    .blur-right {
        right: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
        backdrop-filter: blur(2px);
    }

    .icon-controller {
        z-index: 2;
    }

}

@media (min-width: 1240px) {
    .blur-row .cw {
        min-width: 1240px;

    }

    .empty-card {
        min-width: 25%;
        visibility: hidden;
    }



}