#intro {
    background-color: var(--background-intro);
    text-align: left;
    position: relative;
    width: 100%;
}


#intro h2 {
    padding-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Integral CF Extra';
    font-size: 2.25rem;
    line-height: 0.95;


}

#intro p {
    font-family: 'Satoshi-Regular';
    font-size: 0.875rem;
    opacity: 0.6;
    line-height: 1.3;
}

#intro .image-container {
    background-image: url('../assets/images/intro.png');
    background-size: cover;
    overflow: visible;
    background-position: center;


    width: 100%;
    height: 448px;


}

#intro .sr-only {
    display: none;
}

#intro button {
    margin-top: 24px;
    margin-bottom: 20px;
}

#intro .row {
    justify-content: center;

}

#intro .intro-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    margin: 0 27px;
    flex-wrap: wrap;
}

#intro .intro-info h4 {
    font-size: 1.5rem;
    font-family: 'Satoshi-Bold';
}

#intro .intro-info p {
    font-size: 0.75rem;
    font-family: 'Satoshi-Regular';
}

.divider {
    width: 1px;
    background-color: var(--primary-color);
    opacity: 0.1;
    height: 52px;

    margin: 20px 0;
}

.desktop {
    display: none;
    height: 0;
}

@media (max-width: 425px) {



    .intro-info {
        margin: 20px 0;
        text-align: center;
        align-items: center;
    }
}

@media (min-width: 768px) {
    #intro .intro-body {
        display: flex;
        flex-direction: row;
        max-width: 1024px;
        margin: 0 auto;
    }

    #intro .intro-info {
        margin: 0;
        margin-right: 27px;
    }

    .divider {
        margin-right: 27px;
    }


    #intro .image-container {
        height: 400px;
        align-self: flex-end;
    }

    #intro .row {
        margin-bottom: 50px;
        justify-content: start;
    }

}

@media (min-width: 1024px) {

    #intro h2 {
        font-size: 4rem;
    }

    #intro .intro-info h4 {
        font-size: 2.5rem;
    }

    #intro p {
        font-size: 1rem;
    }

    #intro .row {
        margin-bottom: 50px;
        width: 600px;
    }

    .divider {
        height: 74px;
    }

    .desktop {
        display: block;
    }
}