/* Variáveis de Cores */
:root {
    --primary-color: #000000;
    --primary-color-100: #E5E5E5;
    --primary-highlight: #171717;
    --grey-background: #F0F0F0;
    --red-color: #FF3333;
    --green-color: #01AB31;
    --yellow-color: #FFC633;
    --card-background-image: #F0EEED;
    --background-intro: #F2F0F1;
    --background-body: #FFFFFF;

    /* Variáveis para espaçamento */
    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 40px;

    /* Variáveis para tamanhos de colunas */
    --min-column-width: 300px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* Estilos Globais */
body {
    background-color: var(--background-body);
    color: var(--primary-color);
    /* padding: var(--spacing-medium); */
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


h1 {
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: var(--spacing-medium);
}


/* Componentes globais */
button {
    background-color: var(--primary-color);
    color: var(--background-body);
    font-size: 16px;
    font-weight: 500;
    padding: 15px 67.5px;
    border: none;
    border-radius: 62px;
    cursor: pointer;
    width: 100%;
    /* text-transform: uppercase; */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: var(primary-highlight);
    transform: translateY(-2px);
}


button.light {
    background-color: var(--background-body);
    color: var(--primary-color);
    border: none;

}

button.light:hover {
    background-color: var(--primary-color);
    color: var(--background-body);
    transform: translateY(-2px);
}

button.btn-outline {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color-100);
}

button.btn-outline:hover {
    background-color: var(--primary-color-100);

    transform: translateY(-2px);
}

/* Container width */
.cw {
    width: 100%;
    max-width: 1260px;
    padding: 0 16px;
    margin: 0 auto;


}

.row {
    display: flex;
    flex-wrap: wrap;

}

h3 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Integral CF';
    text-align: center;
    line-height: 1.1;
}

hr {
    border: 0;
    border-top: 1px solid var(--primary-color-100);

}

@media (min-width: 768px) {
    button {
        width: auto;
        padding: 15px 67.5px;
    }
}